{% extends "base.html" %}
{% load static %}
{% block title %}
  Profile Page
{% endblock title %}

{% block content %}
<div class="container">
  <div class="flex gap-3">
    <a href="{% url 'change-password' %}" class="btn btn-primary">Change Password</a>
    <a href="{% url 'change-password2' %}" class="btn btn-success">Change Password 2</a>
    <a href="{% url 'create-post' %}" class="btn btn-warning">Create post</a>
    <a href="{% url 'create-post' %}" class="btn btn-warning">My post</a>
    <a href="{% url 'change_profile' %}" class="btn btn-danger">Change Profile</a>
  </div>
  <div class="container my-5">
    <div class="row">
      {% for post in posts %}
      <div class="col-md-4">
        <div class="card" >
          <img src="{{ post.image.url }}" class="card-img-top" alt="...">
  
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.description}}</p>
            <p>
              {% for category in post.category.all %}
              <span class="text-primary mr-1"> #{{category}}</span>
            {% endfor %}
            </p>
            <a href="{% url 'edit-post' post.id %}" class="btn btn-warning">Edit Post</a>
            <a href="{% url 'delete-post' post.id %}" class="btn btn-primary">Delete Post</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}