<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{number | add:'2'}}</h1>
    <h1>{{name | addslashes}}</h1>
    <h1>{{name | capfirst}}</h1>
    <h1>{{name | center:'30'}}</h1>
    <h1>{{name | cut:' '}}</h1>
    <h1>{{d | date:"D d M Y"}}</h1>
    <h1>{{s | default:'empty string'}}</h1>
    <h1>{{data | dictsort:"name"}}</h1>
    <h1>{{ number | divisibleby:"3" }}</h1>
    <h1>{{li | first}}</h1>
    <h1>{{li | last}}</h1>
    <h1>{{li | join:"-"}}</h1>
    <h1>{{li | length}}</h1>
    <h1>{{name | lower}}</h1>
    <h1>{{name | make_list}}</h1>
    <h1>{{li | random}}</h1>
    <h1>{{name | slugify}}</h1>
    <h1>{{d | time:"H:i"}}</h1>
    <h1>{{name | title}}</h1>
    <h1>{{name | upper}}</h1>
    <h1>{{name | wordcount}}</h1>
    <h1>{{name | truncatechars:5}}</h1>
  </body>
</html>
